[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genanki = ">=0.13.0"
pypdf2 = ">=1.26.0"
anytree = ">=2.8.0"
treelib = ">=1.6.1"

[dev-packages]

[requires]
python_version = "3.9"
